body{
   background-image: url('../imagenes/fotograma.jpg'); 
   background-attachment: fixed;
   background-size: 100%;
}
header {
   width: 100%;
}
.registro{
   width: 100%;
   height: 60px;
   background-color: #31A1D1;
   color: white;
}
.datos{
   width: 40%;
   float: right;
   display: block;
   margin-top: 1%;
   font-size: 100%;
   font-family: verdana;
}
.logo{
   width: 30%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 3%;
}
.carrusel{
   width: 75%;
   display: inline-block;
}
.slide{
   margin-left: 3%;
   width: 93%;
   height: 500px;
   display:inline-block;
   position: relative;
   background-color: grey;
}
.slide img{
   width: 100%;
   height: 500px;
   position: absolute;
}
.slide .img2, .slide .img3 {
   display: none;
}
.lateral {float: right; display: inline-block; width: 24%;
   margin-bottom: 5%;   
}

.promos{
   width: 90%;
   height: 300px;
   background-color: #31A1D1;
   margin-bottom: 5%;
   border-width:2px;border-style: solid;border-color:black;
}
.mercha{
   width: 90%;
   height: 300px;
   background-color: #31A1D1;
   margin-bottom: 5%;
   border-width:2px;border-style: solid;border-color:black;
}
.social{
   width: 90%;
   height: 300px;
   background-color: #31A1D1;
   margin-bottom: 5%;
   border-width:2px;border-style: solid;border-color:black;
}
.cajas{
   margin-top: 3%;
   width: 70%;
   height: 300px;
   display: inline-block;
   margin-left: 2%;
}
.box1{
   width: 30%;
   height: 80%;
   margin-top: 5%;
   background-color: #31A1D1;
   display: inline-block;
   border-width:2px;border-style: solid;border-color:black;
}
.box2{
   width: 30%;
   height: 80%;
   margin-top: 5%;
   background-color: #31A1D1;
   margin-left: 3.5%;
   display: inline-block;
   border-width:2px;border-style: solid;border-color:black;
}
.box3{
   width: 30%;
   height: 80%;
   margin-top: 5%;
   background-color: #31A1D1;
   display: inline-block;
   float: right;
   border-width:2px;border-style: solid;border-color:black;
}
