<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YourMovie</title>
	<link rel="stylesheet" href="Style/reset.css">
	<link rel="stylesheet" href="Style/estilos.css">
	<script type="text/javascript" src="JavaScript/java.js"></script>
	<script type="text/javascript" src="JavaScript/jquery-2.1.1.min.js">
		</script>
</head>
<body>
	<header>
		<section>
			<div class="registro">
				<form class="datos">
				Usuario <input type="text" name="usuario"/>
				Contraseña <input type="text" name="clave"/>
				<button>  Enviar </button>
				</form>
			</div>
		</section>
		<section class="logo"><img src="imagenes/logo.png" width='500' ></section>
	</header>
	<aside class="lateral">
		<div class="promos">Promociones</div>
		<div class="mercha">Merchandising</div>
		<div class="social">Redes Sociales</div>
	</aside> 
	<section class="carrusel">
        <div class="slide centrarhorizontal">  
        <img class="img1" src="imagenes/Cine1.jpg" />
        <img class="img2" src="imagenes/Cine2.jpg" />
        <img class="img3" src="imagenes/Cine3.jpg" />
        </div> 
    </section>
    <section class="cajas">
    	<div class="box1">
    		<iframe width="330" height="240" src="//www.youtube.com/embed/hhCtMhk8eHo" frameborder="0" allowfullscreen></iframe>
      	</div>
    	<div class="box2">
    		<iframe width="330" height="240" src="//www.youtube.com/embed/N--eptTz7lw" frameborder="0" allowfullscreen></iframe>
    	</div>
    	<div class="box3">
    		<iframe width="330" height="240" src="//www.youtube.com/embed/37azbhKZ0D4" frameborder="0" allowfullscreen></iframe>
    	</div>
    </section> 
    <section class="lista">LISTA PELICULAS
    	<ul class="peliculas">
			<li class="peli1"><a href="">Interestellar</a></li>
			<li class="peli1"><a href="">Rec4</a></li>
			<li class="peli1"><a href="">La Naranja Mecánica</a></li>
			<li class="peli1"><a href="">Wall-E</a></li>
			<li class="peli1"><a href="">La historia interminable</a></li>
			<li class="peli1"><a href="">Los Juegos del Hambre</a></li>
		</ul>
    </section>
    <footer>
    	<ul class="">
			<li><a href="">Home</a></li>
			<li><a href="">Estrenos</a></li>
			<li><a href="">Promociones</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
    </footer>
   </body>
</html>